<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saffron Roads</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <!-- Header Section -->
    <header>
        <h1>Saffron Roads</h1>
        <a href="/form">Add Your Tour Spot</a>
    </header>

    <!-- Website Description Section -->
    <section id="description">
        <h2>Explore the Beauty of India</h2>
        <p>Welcome to Saffron Roads, your ultimate guide to exploring the vast and beautiful tourist spots across India.</p>
        <div class="image-gallery">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgqtcnVKS36qNYvzNR9flDifTHAAmF941YEA&s" alt="Himalayas">
            <img src="https://www.trinityairtravel.com/bblog/7980_second.jpg" alt="Historical Temples">
            <img src="https://hblimg.mmtcdn.com/content/hubble/img/goa/mmt/destination/m_destination-goa-landscape_l_400_640.jpg" alt="Beautiful Beaches">
        </div>
    </section>
    <!-- States Gallery Section -->
    <section id="states-gallery">
        <h2>Discover States & Union Territories</h2>
        <div class="state-grid">
        <div class="state-card" style="background-image: url('https://lh3.googleusercontent.com/p/AF1QipPhemwjaSjd2A4LB6qZk8phiBmpIdWhmLbNUnC5=s1360-w1360-h1020-rw');">
            <a href="/state/Andhra Pradesh">
              <span>Andhra Pradesh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://oddessemania.in/wp-content/uploads/2023/09/Arunachal.jpg');">
            <a href="/state/Arunachal Pradesh">
              <span>Arunachal Pradesh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://images.cnbctv18.com/wp-content/uploads/2022/09/Assam-1024x576.jpg');">
            <a href="/state/Assam">
              <span>Assam</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.bihartrip.com/pub/media/destination/bodhgaya/bihartrip-29.jpg');">
            <a href="/state/Bihar">
              <span>Bihar</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/chitrakot-waterfalls.jpg');">
            <a href="/state/Chhattisgarh">
              <span>Chhattisgarh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ4Wc9KfM_YSBJki_kd5qodFseBKOxt-rPYZg&s');">
            <a href="/state/Goa">
              <span>Goa</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.holidify.com/images/cmsuploads/compressed/shutterstock_1317845540_20191031110021_20191031110103.png');">
            <a href="/state/Gujarat">
              <span>Gujarat</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.tourmyindia.com/states/haryana/images/sultanpur-national-park.jpg');">
            <a href="/state/Haryana">
              <span>Haryana</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://madtrek.com/wp-content/uploads/2023/08/Best-Places-To-Visit-In-Himachal-Pradesh-In-Summer-1.webp');">
            <a href="/state/Himachal Pradesh">
              <span>Himachal Pradesh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTseYPDlEBNz1-lTWfu01eglcdNOREt2KbAXQ&s');">
            <a href="/state/Jharkhand">
              <span>Jharkhand</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj913HIizNvLpyH_mjy83sbhbrs-XyrH59GQ&s');">
            <a href="/state/Karnataka">
              <span>Karnataka</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://c.ndtvimg.com/gws/ms/7-places-to-visit-in-kerala/assets/4.jpeg?1739271588);">
            <a href="/state/Kerala">
              <span>Kerala</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://gandhisagarforestretreat.com/wp-content/uploads/2024/06/BLOG-head-title-1-1.webp\');">
            <a href="/state/Madhya Pradesh">
              <span>Madhya Pradesh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1_HRfjWYNgO-sK1c99Zk4oqA-9_vv3RVOTQ&s');">
            <a href="/state/Maharashtra">
              <span>Maharashtra</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://i0.wp.com/www.tusktravel.com/blog/wp-content/uploads/2021/02/Sanamahi-Temple-Manipur.jpg?fit=800%2C450&ssl=1');">
            <a href="/state/Manipur">
              <span>Manipur</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://c.ndtvimg.com/2022-08/osdbgvk_meghalaya_625x300_29_August_22.jpg');">
            <a href="/state/Meghalaya">
              <span>Meghalaya</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://static.toiimg.com/thumb/msid-84244923,width-748,height-499,resizemode=4,imgsize-894620/Mizorams-must-visit-destinations.jpg');">
            <a href="/state/Mizoram">
              <span>Mizoram</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://images.herzindagi.info/image/2023/Apr/places-to-visit-in-nagaland.jpg');">
            <a href="/state/Nagaland">
              <span>Nagaland</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT12aqol2ySIb5NuLpZC2ofrGYIr6p7FYUZgA&s');">
            <a href="/state/Odisha">
              <span>Odisha</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.godigit.com/content/dam/godigit/directportal/en/contenthm/tourist-places-in-punjab.jpg');">
            <a href="/state/Punjab">
              <span>Punjab</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQesVLTL72zIAXi4RkOkI0DWMlOP2QulVxvCA&s');">
            <a href="/state/Rajasthan">
              <span>Rajasthan</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3jia42MvNuOZmoU9_AZw3C0Gg7JrqAW4FzQ&s');">
            <a href="/state/Sikkim">
              <span>Sikkim</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcREJr1mvoKSjZbQK7C3jGQW9z904PX4IUzFcg&s');">
            <a href="/state/Tamil Nadu">
              <span>Tamil Nadu</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.holidify.com/images/bgImages/HYDERABAD.jpg');">
            <a href="/state/Telangana">
              <span>Telangana</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://bombaytrooper.com/wp-content/uploads/2019/07/14083817901_17d6c285f6_o.jpg');">
            <a href="/state/Tripura">
              <span>Tripura</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://hblimg.mmtcdn.com/content/hubble/img/destimg/mmt/activities/m_Agra_destjulimg_1_l_830_1277.jpg');">
            <a href="/state/Uttar Pradesh">
              <span>Uttar Pradesh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://hblimg.mmtcdn.com/content/hubble/img/dest_march/mmt/destination/m_mussoorie-landscape_l_400_640.jpg');">
            <a href="/state/Uttarakhand">
              <span>Uttarakhand</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://hblimg.mmtcdn.com/content/hubble/img/new_dest_imagemar/mmt/activities/m_Darjeeling_2_l_658_1200.jpg');">
            <a href="/state/West Bengal">
              <span>West Bengal</span>
            </a>
          </div>
      
          <!-- Union Territories -->
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIRZzqfklx9299IxqW_VzTcCI5s0f4ZgHtjA&s');">
            <a href="/state/Andaman and Nicobar Islands">
              <span>Andaman and Nicobar Islands</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://static.toiimg.com/photo/38602856.cms');">
            <a href="/state/Chandigarh">
              <span>Chandigarh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://s7ap1.scene7.com/is/image/incredibleindia/1-baps-swaminarayan-temple-silvassa-dadra-and-nagar-haveli-2-city-hero?qlt=82&ts=1726737660598');">
            <a href="/state/Dadra and Nagar Haveli and Daman and Diu">
              <span>Dadra and Nagar Haveli and Daman and Diu</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkfrFnpJq7-bwgK5Og0pdkD6tKH8C1KEByng&s');">
            <a href="/state/Delhi">
              <span>Delhi</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.holidify.com/images/bgImages/KASHMIR.jpg');">
            <a href="/state/Jammu and Kashmir">
              <span>Jammu and Kashmir</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://images.wanderon.in/blogs/new/2023/12/leh-ladakh.jpg');">
            <a href="/state/Ladakh">
              <span>Ladakh</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://www.fabhotels.com/blog/wp-content/uploads/2024/01/bbec4647-lakshadweep-1.jpg');">
            <a href="/state/Lakshadweep">
              <span>Lakshadweep</span>
            </a>
          </div>
          <div class="state-card" style="background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8v78topDoezpWOGdtwf76m-ikG4b2obDBdg&s');">
            <a href="/state/Puducherry">
              <span>Puducherry</span>
            </a>
        </div>
        </div>
    </section>
    

</body>
</html>
